.grid-wrapper {
  padding: 0 1rem;
  width: 100%;
  height: calc(100vh - 180px);
}

ix-field-label {
  margin-right: 1rem;
}

.grid-container {
  width: 100%;
  height: 100%;
}

.spinner-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
