.grid-wrapper {
  padding: 0 1rem;
  width: 100%;
  height: calc(100vh - 220px);
}

.grid-container {
  width: 100%;
  height: 100%;
}

.header-infos {
  display: flex;
  flex-direction: row;
  gap: calc(15px);
  margin-bottom: 20px;
  color: #5ce0bc;
}

.project-name {
  font-size: medium;
}
